<!DOCTYPE HTML>
   <html>
    <body>
    <div class="col-12 centered">
     <%= form_tag url_for(action: 'create'), method: "post" do %>

     <div class="text-primary text-center"> <%= label_tag 'Title' %> </div>
      <%= text_field_tag 'title', @gossip.title, :class => "form-control ", placeholder: "Title"%> <br /> <br />
      <br/>
      <p class="text-center text-success">Alors, ça veut bitcher sur qui et sur quoi? </p>
      <div class="text-primary text-center"><%= label_tag 'Content' %> </div>
      <%= text_area_tag 'content',@gossip.content, :class => "form-control", placeholder: "Content"%>
      <br /> <br />
   

     <%= submit_tag "Create Post" %> 

    <% end %>
   </div>

      </body>
  </html>
