<!DOCTYPE HTML>
   <html>
    <head>
    
     <title>Titre de la page</title>
    </head>
 
  <body>
   <div class="row">
      <div class="card col-lg-12 tex-center">
        <div class="card-header">
          <h5 class="text-center text-primary">Bienvenue sur la page du gossip N° <%=params[:id]%> !</h5>
        </div>     
        <div class="card-body"> 
          <h2>Title : <%= @mygossip.title %> </h2>
          <p>Author : <%= @mygossip.user.first_name %> <%= @mygossip.user.last_name %> </p>
          <%= link_to "More info", '/author/'+@mygossip.user.id.to_s, type: "button", class: "btn btn-outline-primary" %>
          <p>Content: <%= @mygossip.content %> </p>
          <p>Creation date : <%= @mygossip.created_at.strftime("%d-%m-%Y") %> </p>
        </div>
      </div>
    </div>
  </body>
 
  </html>